
a{
    font-size: 18px;
    display: block;
    background-color: #fff;
    padding: 10px 10px;
    width: fit-content;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
}
h1{
    font-size: normal;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    p{
    font-style: normal;
    font-size: normal;
    margin: 0;
    padding: 0;
    }
    img
    { 
    width: 250px;
    height: 250px;
    
    }
    
    
    h3{
        font-size: normal;
    font-style: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    }
    h2{
        width: 100%;
        padding: 8px 10px;
        border: none;
        border-radius: 2px;
        background-color: grey;
    }
    h4{ 
        font-size: medium;
        font-style: normal;
        text-align: right;}